body {
	background: url(../images/body3.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	height: 100vh;
	font-family: 'VT323', monospace;
	overflow: hidden;
}

#hero .player, #enemy .player {
	border: 2px solid #cccc00;
	height: 250px;
	width: 200px;
}

#Players .player {
	border: 2px solid #e3e3e3;
	height: 150px;
	width: 100px;
}

#attack-button {
	display: none;
}

#attack-button:focus {
	outline: none;
}

.player-name-wrap {
	background: rgba(0,0,0,.85);
	position: relative;
}

#Players .player-name-wrap {
	border: 2px solid #cccc00;
	top: 50%;
}

#hero .player-name-wrap, #enemy .player-name-wrap {
	border: 2px solid #e3e3e3;
	top: 70%;
}

#Players .player-name-wrap * {
	color: #e3e3e3
}

#hero .player-name-wrap *, #enemy .player-name-wrap * {
	color: #cccc00;
}

h1, h2, h3, h4, p {
	color: #e3e3e3;
	font-family: 'VT323', monospace;
	margin: 0;
}

#attack-button {
	background: transparent;
	border: 1px solid #cccc00;
	border-radius: 5px;
	color: #cccc00;
	font-size: 1.4rem;
	padding: 7px 13px;                
}

.directions {
	margin-top: 1rem;
}

.attack-messages {
	margin-bottom: 2rem;
}

.title {
	display: inline-block;
	font-size: 5rem;
	color: #cccc00;
	transform: rotate(25deg);
	text-shadow: 0px 1px 5px #000;
	position: relative;
	left: -45px;
}

.hp-message {
	color: #cccc00;
}